//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-payments {
        h1 {
            font-size: 24px;
            font-weight: 700;
        }

        h2 {
            font-size: 18px;
            font-weight: 600;
        }

        p {
            font-size: 13px;
        }
    }
}
