//
//  General
//  _____________________________________________

& when (@media-common = true) {
    .text-green {
        color: #99cc00;
    }
    .text-white {
        color: #FFFFFF;
    }
    .cmspage-title {
        font-size: 18px;
        font-weight: 700;
    }
    .cmspage-text {
        font-size: 13px;
    }
}