<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Reply_Example::products" title="Reply API - Products"
                          translate="title" sortOrder="110">
                    <resource id="Reply_Example::products_get" title="Get product"
                              translate="title" sortOrder="10" />
                    <resource id="Reply_Example::products_set_description" title="Set description"
                              translate="title" sortOrder="20" />
                    <resource id="Reply_Example::execute_graphql" title="Execute Graphql"
                              translate="title" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
