//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-onepage-success {
        #maincontent {
            .page-title-wrapper {
                .page-title {
                    span {
                        font-size: 35px;
                        line-height: 35px;
                        font-weight: 600;
                        color: @color-gray91;
                    }
                }
            }

            .checkout-success {
                font-size: 16px;
                p:nth-child(1) {
                    color: @color-ami-green;
                }
            }

            .actions-toolbar {
                .primary {
                    a {
                        border-radius: 21px;
                        span {
                            text-transform: uppercase;
                        }
                    }
                }
            }
            #registration {
                font-size: 16px;
                .action.primary {
                    border-radius: 21px;
                    span {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
