/** labels **/
@form-field-label__color: @color-gray91;
@form-field-label__font-size: @font-size__xl;
@form-field-label__font-weight: @font-weight__regular;

/** inputs **/
@form-element-input__border: 1px solid @color-gray20;
@form-element-input__border-radius: 25px;
@form-element-input__height: 34px;
@form-element-input__padding: 6px 12px;
@form-element-input__font-size: @font-size__base;
@form-element-input__line-height: @line-height__base;

/** placeholder **/
@form-element-input-placeholder__color: @color-gray70;

/** focus **/
@form-element-input__focus__border: 1px solid @color-black;
@focus__box-shadow: none;
